# Created by .ignore support plugin (hsz.mobi)
CMakeFiles/
cmake-build-debug/
DOOM/linuxdoom-1.10/CVS/
DOOM/linuxdoom-1.10/linux/
CMakeCache.txt
DOOM/CMakeLists.txt
.idea/
build/DOOM/CMakeLists.txt
build/DOOM/linuxdoom-1.10/CVS/
build/DOOM/linuxdoom-1.10/linux/
/build/terminal-doom
/build/Makefile
